.pic {height: 650px; 
background-image: url("954281.jpg");
background-size: cover;
opacity: rgba(76, 175, 80, 0.3)
}

.d1{height: 20%;
    background-color: darkkhaki;
    text-align: center;
}
.div1{
    height: 40%;

}



